body {
    padding-top: 60px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.btn-of-contents {
    min-width: 200px;
}

.toggler-js {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #navbar-brand {
        display: none;
    }

    .navbar-brand {
        margin-right: 0px;
    }
}
